body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 100px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  background: #ff6600;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin: 20px 0;
}

.team-card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #333;
}

.team-card:hover {
  background: #ff6600;
  transform: scale(1.05);
}